@model ExamenFinalP2.Models.Visitas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Areas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visitante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDVisitas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
