<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Belkis Vasquez</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
            #footer {
                position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
                /*body

            {
                margin: 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

            div {
                flex: 1;
            }
            }*/
    </style>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<body>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Examen Final Yazmin</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Areas", "Index", "Areas")</li>
                        <li>@Html.ActionLink("Visitantes", "Index", "Visitantes")</li>
                        <li>@Html.ActionLink("Visitas", "Index", "Visitas")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
</body>
    </div>
<div id="footer">
    <footer class="page-footer">
        @*<div class="footer-copyright">*@
            <div class="container">
                © 2019 Copyright Belkis Yazmin Vasquez Peña
                <br /><br />
            </div>
        @*</div>*@
        <div class="container">
            @*<div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">GRACIAS POR VISITARNOS</h5>
                    <p class="grey-text text-lighten-4">Esperamos verte en una proxima ocasion.</p>
                </div>

            </div>*@
        </div>

    </footer>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</html>
